@model Tangehrine.ServiceLayer.Dtos.Admin.PatientDetailMasterDto;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script>
    
    var MenuList = new Array();
    var TotalItem = 1;
</script>

@*<form method="post" id="PatientMedicine" asp-action="_AddOrUpdatePatientMedicine" asp-area="Admin" asp-controller="VisitProfile">*@
<form id="frmMedicine">
    <!-- Add Medicine/State Modal -->
    <div class="modal fade" id="AddMedicalStateModal" tabindex="-1" aria-labelledby="AddMedicalStateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content add-body">
                <div class="modal-body">
                    @*<input id="Id" asp-for="PatientMedicineOutput.Id" value="@Model.PatientMedicineOutput.Id" type="hidden" />*@
                    <input asp-for="PatientMedicineOutput.PatientId" value="@Model.PatientMedicineOutput.PatientId" id="PatientId" type="hidden" />
                    <h3 id="ModalTitle">Add Medicine</h3>
                    <div class="mb-3">
                        <label class="form-label">Date </label>
                        <input type="text" id="MedicineDate" class="form-control date" value="@Model.PatientMedicineOutput.MedicineDate" autocomplete="off" placeholder="Date" />
                        <span class="text-danger"></span>
                    </div>
                    @if(@Model.PatientMedicineOutput.patientMedicineDoseDtos.Count > 0)
                    {
                        @foreach(var item in Model.PatientMedicineOutput.patientMedicineDoseDtos)
                        {
                            <text>
                                <script>
                                    MenuList.push({ "Mid": @item.MedicineId, "Dose": @item.Dose,"DoseDTId":@item.DoseTimeId });
                                </script>
                            </text>
                            <div class="mb-4 mb-lg-5 repeater">
                                @*<label for="" class="form-label">Specialists :</label>*@
                                <div data-repeater-list="group-b">
                                    @*@foreach(var item in Model.PatientMedicineOutput.patientMedicineDoseDtos)*@
                                    <div data-repeater-item id="MediItem" class="row align-items-center mb-3 g-3">
                                        <div class="col-md" id="frmMedicineDetails">

                                            @if (!ViewBag.IsMedicineEmpty)
                                            {
                                              <label class="form-label">Medicine </label>
                                              @*<input type="text" id="MedicineId" class="form-control" placeholder="Select Medicine" />*@
                                              @Html.DropDownListFor(x => item.MedicineId, Model.PatientMedicineOutput.MedicineList as IEnumerable<SelectListItem>, "Select Medicine",
                                               new {@class = "form-control form-select", @Id = "MedicineId", @Name = "MedicineId" })
                                            }
                                            else
                                            {
                                              <label style="color:red">Please Add Medicine First !</label>
                                            }
                                        </div>
                    
                                        <div class="col-md">
                                            <input id="patientMedicineId" type="hidden" class="form-control" value="@item.Id" />
                                            <label class="form-label">Dose (Mg) </label>
                                            <input id="Dose"   oninput="this.value = this.value.replace(/[^0-9.]/g, '');" maxlength="15" type="text" class="form-control dose1" value="@item.Dose" placeholder="Add Dose" />
                                     
                                        </div>
                                
                                        <div class="col-md">
                                            <label class="form-label">Dose Time  </label>
                                             @Html.DropDownListFor(x => item.DoseTimeId, Model.PatientMedicineOutput.MedicineDoseTimeList as IEnumerable<SelectListItem>, "Select options",
                                             new {@class = "form-control form-select d", @Id = "DoseTimeId", @Name = "DoseTimeId" })
                                        </div>
                                         <div class="col-md-auto">
                                            <label class="form-label d-none d-md-block">&nbsp;</label>
                                            <div>
                                                <button type="button" class="text-orange" id="AddMedicine1"><i class="fas fa-plus-square"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Menudiv"></div>
                                    <h6 id="MedicineError" style="color:red; display:none"> Error !</h6>
                                </div>
                            </div>

                         }
                    }
                    else
                    {
                        <div class="mb-4 mb-lg-5 repeater">
                            @*<label for="" class="form-label">Specialists :</label>*@
                            <div data-repeater-list="group-b">
                                @*@foreach(var item in Model.PatientMedicineOutput.patientMedicineDoseDtos)*@
                                <div data-repeater-item id="MediItem" class="row align-items-center mb-3 g-3">
                                    <div class="col-md" id="frmMedicineDetails">

                                        @if (!ViewBag.IsMedicineEmpty)
                                        {
                                            <label class="form-label">Medicine </label>
                                            @*<input type="text" id="MedicineId" class="form-control" placeholder="Select Medicine" />*@
                                            @Html.DropDownListFor(x => x.PatientMedicineOutput.MedicineId, Model.PatientMedicineOutput.MedicineList as IEnumerable<SelectListItem>, "Select Medicine",
                                            new { @class = "form-control form-select", @Id = "MedicineId", @Name = "MedicineId" })

                                        }
                                        else
                                        {
                                            <label style="color:red">Please Add Medicine First !</label>
                                        }
                                    </div> 

                                    <div class="col-md">

                                        <label class="form-label">Dose (Mg) </label>
                                        <input id="Dose" type="text"  oninput="this.value = this.value.replace(/[^0-9.]/g, '');"  maxlength="15"  class="form-control dose" value="@Model.PatientMedicineOutput.Dose" placeholder="Add Dose" />
                                    </div>
                                     <div class="col-md">
                                        <label class="form-label">Dose Time </label>
                                         @Html.DropDownListFor(x => x.PatientMedicineOutput.DoseTimeId, Model.PatientMedicineOutput.MedicineDoseTimeList as IEnumerable<SelectListItem>, "Select options",
                                         new {@class = "form-control form-select d", @Id = "DoseTimeId", @Name = "DoseTimeId" })
                                     </div>
                                    <div class="col-md-auto">
                                        <label class="form-label d-none d-md-block">&nbsp;</label>
                                        <div>
                                            <button type="button" class="text-orange" id="AddMedicine"><i class="fas fa-plus-square"></i></button>                                      
                                        </div>
                                    </div>
                                </div>
                                <div id="Menudiv"></div>
                                <h6 id="MedicineError" style="color:red; display:none"> Error !</h6>
                            </div>
                        </div>
                    }
                    <div class="text-center">
                        <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Medicine/State Modal -->
</form>

<partial name="_ValidationScriptsPartial" />
<script> 
    
    var textBoxCount = $(".dose1").length;
    $('#MedicineDate').datepicker({ format: 'mm-dd-yyyy' });
    $("PatientMedicine").on("submit", (event) => { event.preventDefault();});

    //var list = @Html.Raw(Json.Serialize(ViewBag.MedicineList));
    if (textBoxCount >= 2) {

        for (var i = 2; i <= textBoxCount; i++)
        {
            $("#MedicineId").prop("id", $("#MedicineId").prop("id") + i); 
            $("#DoseTimeId").prop("id", $("#DoseTimeId").prop("id") + i);
            $("#Dose").prop("id", $("#Dose").prop("id") + i);
            $("#patientMedicineId").prop("id", $("#patientMedicineId").prop("id") + i);
        }
    }
    $("#DoseTimeId").prop("id", $("#DoseTimeId").prop("id") + TotalItem);
    $("#MedicineId").prop("id", $("#MedicineId").prop("id") + TotalItem);
    $("#Dose").prop("id", $("#Dose").prop("id") + TotalItem);
    $("#patientMedicineId").prop("id", $("#patientMedicineId").prop("id") + TotalItem);
    $(document).off("click", "#btnSave");

    $(document).on("click", "#btnSave", function () {
        
        var Dose = $(document).find("#Dose").val();
        if ($(`#MedicineId${TotalItem}`).val() == "") {
            $("#MedicineError").html("Please select Medicine !");
            $("#MedicineError").css("display", "block");
            return false;
        }
        else if($(`#MedicineId${textBoxCount}`).val() == ""){
            $("#MedicineError").html("Please select Medicine !");
            $("#MedicineError").css("display", "block");
            return false;
        }
        else{
            Save();
        }
    });

    //Add Menu
    $(document).off("click", "#AddMedicine");
    $(document).on("click", "#AddMedicine", function () {
            //for (var i = 1; i <= TotalItem; i++)
            //{
            //    $("#Dose" + i).val();
            //    var removeItem = $("#MedicineId" + i).val();

            //    list = jQuery.grep(list, function (value) {

            //        return value.value != removeItem;
            //    });
            //}
        
            insertMenu();
    });
    
    $(document).on("click", "#AddMedicine1", function () {      

         $("#MedicineError").css("display", "none");
        var NewMenuId = $(`#MedicineId${textBoxCount}   option:selected`).val();
        var NewMenuName = $(`#MedicineId${textBoxCount}  option:selected`).text();
        var NewMenuDTId = $(`#DoseTimeId${textBoxCount}   option:selected`).val();
        var NewMenuDTName = $(`#DoseTimeId${textBoxCount}  option:selected`).text();

        var NewDose = $(document).find(`#Dose${textBoxCount}`).val();       
   
        if (NewDose == "" || NewDose < 0) {
            $("#MedicineError").html("Please Select Medicine!");
            $("#MedicineError").css("display", "block");        
            return false;
        } else if ($(`#MedicineId${textBoxCount}`).val() == "") {
             $("#MedicineError").html("Invalid dose !");
            $("#MedicineError").css("display", "block");
            return false;
        }
     
        MenuList.push({ "Mid": NewMenuId, "Dose": NewDose, "DoseDTId":NewMenuDTId });        

        Cost = NewDose;
        textBoxCount =textBoxCount+1;
        element = document.createElement('div');
        element.className = "upload_form"
        element.innerHTML = `   <div id="tl" data-repeater-item class="row align-items-center mb-3 g-3">
                                <div class="col-md" id="frmMedicineDetails">
                                    @if (!ViewBag.IsMedicineEmpty)
                                    {
                                    <label class="form-label">Medicine </label>
                                    @Html.DropDownListFor(x => x.PatientMedicine.MedicineId, Model.PatientMedicineOutput.MedicineList as IEnumerable<SelectListItem>, "Select Medicine",
                                        new { @class = "form-control form-select", @id = "MedicineId${textBoxCount}", @Name = "MedicineId" })
                                    }
                                    else
                                    {
                                        <label style="color:red">Please Add Medicine First !</label>
                                    }
                                </div>
                                <div class="col-md">                       
                             
                                    <label class="form-label">Dose (Mg) </label>
                                    <input id="Dose${textBoxCount}" type="text"  oninput="this.value = this.value.replace(/[^0-9.]/g, '');"  maxlength="15" value="@Model.PatientMedicineOutput.Dose" class="form-control dose1" placeholder="Add Dose" />
                                </div>
                                <div class="col-md">
                                    <label class="form-label">Dose Time</label>
                                     @Html.DropDownListFor(x => x.PatientMedicineOutput.DoseTimeId, Model.PatientMedicineOutput.MedicineDoseTimeList as IEnumerable<SelectListItem>, "Select options",
                                     new {@class = "form-control form-select d", @Id = "DoseTimeId${textBoxCount}", @Name = "DoseTimeId" })
                                </div>
                                <div class="col-md-auto">
                                    <label class="form-label d-none d-md-block">&nbsp;</label>
                                    <div >
                                        <button type="button" class="text-orange" id="AddMedicine1"><i class="fas fa-plus-square"></i></button>
                                         <button type="button" class="text-danger" id="RemoveMedicine1"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </div>

                            </div>
                         `.trim();

        $("#Menudiv").prepend(element);
        element = "";
    });
   
    $(`#MedicineId${TotalItem}`).on("change", function () {
        $(`#MedicineId${TotalItem}   option:selected`).prop("disabled", true);
    })
    
    function insertMenu() {
        
        $("#MedicineError").css("display", "none");
        var NewMenuId = $(`#MedicineId${TotalItem}   option:selected`).val();
        var NewMenuName = $(`#MedicineId${TotalItem}  option:selected`).text();
        var NewMenuDTId = $(`#DoseTimeId${TotalItem}   option:selected`).val();
        var NewMenuDTName = $(`#DoseTimeId${TotalItem}  option:selected`).text();

        var NewDose = $(document).find(`#Dose${TotalItem}`).val();
        if (MenuList != null){ 
            $.each(MenuList, function (index, value) {
                if (value.Mid == NewMenuId) {
                    $("#MedicineError").html("Medicine already added !");
                    $("#MedicineError").css("display", "block");
                    return false;
                }
            });
        }
        if ((NewDose == "" || NewDose < 0) || !(new RegExp(/^[0-9]\d{0,9}(\.\d{1,3})?%?$/).test(NewDose))) {
            $("#MedicineError").html("Invalid dose !");
            $("#MedicineError").css("display", "block");
            return false;
        } else if ($(`#MedicineId${TotalItem}`).val() == "") {
            $("#MedicineError").html("Please Select Medicine!");
            $("#MedicineError").css("display", "block");
            return false;
        }
     
        MenuList.push({ "Mid": NewMenuId, "Dose": NewDose, "DoseDTId":NewMenuDTId });        

        Cost = NewDose;
        TotalItem = TotalItem + 1;

        var element = document.createElement('div');
        element.className = "upload_form"
        element.innerHTML = `   <div id="tl" data-repeater-item class="row align-items-center mb-3 g-3">
                                <div class="col-md" id="frmMedicineDetails">
                                    @if (!ViewBag.IsMedicineEmpty)
                                    {
                                    <label class="form-label">Medicine </label>
                                    @Html.DropDownListFor(x => x.PatientMedicine.MedicineId, Model.PatientMedicineOutput.MedicineList as IEnumerable<SelectListItem>, "Select Medicine",
                                        new { @class = "form-control form-select", @id = "MedicineId${TotalItem}", @Name = "MedicineId" })
                                    }
                                    else
                                    {
                                        <label style="color:red">Please Add Medicine First !</label>
                                    }
                                </div>
                                <div class="col-md">
                                  
                                    <label class="form-label">Dose (Mg) </label>
                                    <input id="Dose${TotalItem}" type="text"  oninput="this.value = this.value.replace(/[^0-9.]/g, '');"  maxlength="15" value="@Model.PatientMedicineOutput.Dose" class="doses form-control" placeholder="Add Dose" />
                                </div>
                                <div class="col-md">
                                    <label class="form-label">Dose Time</label>
                                     @Html.DropDownListFor(x => x.PatientMedicineOutput.DoseTimeId, Model.PatientMedicineOutput.MedicineDoseTimeList as IEnumerable<SelectListItem>, "Select options",
                                     new {@class = "form-control form-select d", @Id = "DoseTimeId${TotalItem}", @Name = "DoseTimeId" })
                                </div>
                                <div class="col-md-auto">
                                    <label class="form-label d-none d-md-block">&nbsp;</label>
                                    <div >
                                        <button type="button" class="text-orange" id="AddMedicine"><i class="fas fa-plus-square"></i></button>
                                        <button type="button" class="text-danger" id="RemoveMedicine"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </div>

                            </div>
                         `.trim();

        $("#Menudiv").prepend(element);
        element = "";
       // $("#MedicineId${TotalItem}").val("");
        //$(document).find(".InitCost").val("");
    }
    //Remove Menu
    $(document).off("click", "#RemoveMedicine");
    $(document).on("click", "#RemoveMedicine", function () {
        //$("#MediItem").empty()
        var medId = $(this).parent().parent().parent().find("select").attr("id");
        //var doseId = $(this).parent().parent().parent().find("input[type='text']").attr("id");

        var medVal = $("#" + medId + "  option:selected").val();
        //var currentMenu = { "Mid": $("#" + medId + "  option:selected").val(), "Dose": $("#"+doseId).val() };

        MenuList = jQuery.grep(MenuList, function (value) {

            return value.Mid != medVal;
        });
        TotalItem = TotalItem -1;

        $(this).parent().parent().parent().remove(); //$(this).next().find("input[type='text']").attr("data-id").trim().replace("Menu", "");
      
        let e=2;
        $(".doses").each(function() {              
            $(this).attr("id","Dose"+ e);  
            $(this).parent().parent().parent().find("select").attr("id","MedicineId"+e);
            e++;
        }); 

        let v=1;
        $(".d").each(function() {              
            $(this).attr("id","DoseTimeId"+v);           
            v++;
        });     
    
    });

    $(document).off("click", "#RemoveMedicine1");
    $(document).on("click", "#RemoveMedicine1", function () {
        
        //$("#MediItem").empty()
        var medId = $(this).parent().parent().parent().find("select").attr("id");
        //var doseId = $(this).parent().parent().parent().find("input[type='text']").attr("id");

        var medVal = $("#" + medId + "  option:selected").val();
        //var currentMenu = { "Mid": $("#" + medId + "  option:selected").val(), "Dose": $("#"+doseId).val() };

        MenuList = jQuery.grep(MenuList, function (value) {

            return value.Mid != medVal;
        });
        textBoxCount = textBoxCount -1;

        $(this).parent().parent().parent().remove(); //$(this).next().find("input[type='text']").attr("data-id").trim().replace("Menu", "");

         let e=1;
         $(".dose1").each(function() {          
            if($("#Dose"+e).val()==undefined){    
                e++;
                var newId=e-1;
                $("#Dose"+e).attr("id","Dose"+newId);  
                $("#MedicineId"+e).attr("id","MedicineId"+newId);
            }   
            else{
                e++;
            }
        });          

        let v=1;       
         $(".d").each(function() { 
            if($("#DoseTimeId"+v).val()==undefined){   
                v++;
                var newId=v-1;
                $("#DoseTimeId"+ v).attr("id","DoseTimeId"+newId);     
            } 
            else{                
                v++;
            }
        }); 
    
    });

    function Save() {        
        var Model = {
            MedicineDate: "",
            PatientId: 0,
            MedicineId: 0,
            DoseTimeId:0,
            patientMedicineDoseDtos: new Array()
        };
        Model.MedicineDate = $("#MedicineDate").val();
        Model.PatientId = $("#PatientId").val();    
     
        var textBoxCount1 = $(".doses").length;
      
        //Single TextBox Edit
        var MedicineDetail = {
            MedicineId: "",
            Dose: "",
            Id:0,
            DoseTimeId:""
        }
        if (TotalItem == 1 && textBoxCount == 1 ) {            
            
            Model.MedicineId = $('#MedicineId1 option:selected').val();   
            MedicineDetail.MedicineId = $(`#MedicineId1  option:selected`).val();
            Model.DoseTimeId = $('#DoseTimeId1 option:selected').val();
            MedicineDetail.DoseTimeId = $(`#DoseTimeId1  option:selected`).val();
            MedicineDetail.Dose = $("#Dose1").val();
            MedicineDetail.Id = $("#patientMedicineId1").val();
            Model.patientMedicineDoseDtos.push(MedicineDetail);
         
            $.ajax({
                url: "/Admin/VisitProfile/_AddOrUpdatePatientMedicine",
                type: "POST",
                data: { input: Model },
                success: function (response) {
                    $('#AddMedicalStateModal').modal('hide');
                    if (response) {
                        toastr.success(
                            '',
                            'Medicine Updated Successfuly',
                            {
                                timeOut: 1000,
                                fadeOut: 1000,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            }
                        );
                    } 
                    
                }
            });
            
        }

        if (TotalItem >= 1 && textBoxCount1 >= 1 || textBoxCount1 == 0 && textBoxCount == 0)
        {            
            var MedicineDetail = {
                MedicineId: "",
                Dose: "",
                Id:0,
                DoseTimeId:"",
            }
            if (TotalItem == 1 && textBoxCount1 ==0)
            {
                Model.MedicineId = $('#MedicineId1 option:selected').val(); 
                MedicineDetail.MedicineId = $(`#MedicineId1  option:selected`).val();
                Model.DoseTimeId = $('#DoseTimeId1 option:selected').val();
                MedicineDetail.DoseTimeId = $(`#DoseTimeId1  option:selected`).val();
                MedicineDetail.Dose = $("#Dose1").val();
                MedicineDetail.Id = $("#patientMedicineId1").val();
                Model.patientMedicineDoseDtos.push(MedicineDetail);
               
                $.ajax({
                    url: "/Admin/VisitProfile/_AddOrUpdatePatientMedicine",
                    type: "POST",
                    data: { input: Model },
                    success: function (response) {
                        $('#AddMedicalStateModal').modal('hide');
                        if (response) {
                            toastr.success(
                                '',
                                'Medicine Added Successfuly',
                                {
                                    timeOut: 20,
                                    fadeOut: 10,
                                    onHidden: function () {
                                        window.location.reload();
                                    }
                                }
                            );
                        }                      
                    }
                });
                

            }
            //Add Multi TextBox
            else if(textBoxCount1 >= 1)
            {
                for (var i = 1; i <= TotalItem; i++) {                 
                    var MedicineDetail = {
                        MedicineId: "",
                        Dose: "",
                        Id:0,
                        DoseTimeId:""
                    }
                    MedicineDetail.DoseTimeId = $(`#DoseTimeId${i}   option:selected`).val();
                    MedicineDetail.MedicineId = $(`#MedicineId${i}   option:selected`).val();
                    MedicineDetail.Dose = $("#Dose" + i).val();  
                    MedicineDetail.Id = $("#patientMedicineId" + i).val();
                    Model.patientMedicineDoseDtos.push(MedicineDetail);                    
                }
                
                $.ajax({
                    url: "/Admin/VisitProfile/_AddOrUpdatePatientMedicine",
                    type: "POST",
                    data: { input: Model },
                    success: function (response) {
                        $('#AddMedicalStateModal').modal('hide');
                        if (response) {
                            toastr.success(
                                '',
                                'Medicine Added Successfuly',
                                {
                                    timeOut: 20,
                                    fadeOut: 10,
                                    onHidden: function () {
                                        window.location.reload();
                                    }
                                }
                            );
                        }                
                    }
                });   

            }       
        }
        //Edit Text Box
        else if (textBoxCount >= 2) {
         
            for (var i = 1; i <= textBoxCount; i++)
            {
                var MedicineDetail = {
                    MedicineId: "",
                    Dose: "",
                    Id: "",
                    DoseTimeId:"",
                }

                MedicineDetail.MedicineId = $(`#MedicineId${i}   option:selected`).val()
                Model.MedicineId = $(`#MedicineId${i}   option:selected`).val()
                Model.DoseTimeId = $(`#DoseTimeId${i}   option:selected`).val()
                MedicineDetail.DoseTimeId = $(`#DoseTimeId${i}   option:selected`).val()
                MedicineDetail.Dose = $("#Dose" + i).val();
                MedicineDetail.Id = $("#patientMedicineId" +i).val();
                Model.patientMedicineDoseDtos.push(MedicineDetail);
                
            }  
                        
            $.ajax({
                url: "/Admin/VisitProfile/_AddOrUpdatePatientMedicine",
                type: "POST",
                data: { input: Model },
                success: function (response) {
                    $('#AddMedicalStateModal').modal('hide');
                    if (response) {
                        toastr.success(
                            '',
                            'Medicine Updated Successfuly',
                            {
                                timeOut: 20,
                                fadeOut: 10,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            }
                        );
                    }
                    
                }
            });             
        }
    }  

</script>